 .projects {
    font-size: 28px;
    margin-top: 5px;
    margin-left: 1075px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
body {
    background: linear-gradient(black,indigo,violet,purple,indigo, black);
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}
.left-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 12%;
    height: 100%;
    background-color: black;
}
.telowz {
    background: transparent;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    padding: 10px;
}
.top-box {
    position: fixed;
    top: 0;
    left: 12%;
    width: 100%;
    height: 12%;
    background-color: black;
}
